{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1 class="display-6">Hello, {{ username }}</h1>
    <table class="table table-striped table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            {% for i in range(user_portfolio|length) %}
                <tr>
                    <td>{{ symbols[i] }}</td>
                    <td>{{ names[i] }}</td>
                    <td>{{ shares[i] }}</td>
                    <td>{{ stock_prices[i] | usd }}</td>
                    <td>{{ total_values[i] | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Cash</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Asssets</td>
                <td>{{ total_assets | usd }}</td>
            </tr>
        </tbody>
      </table>
{% endblock %}