{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-select" aria-label="Default select example">
            <option disabled selected>Choose the stock</option>
            {% for i in range(symbols | length) %} 
                <option>
                    {{ symbols[i] }}
                </option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}